<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/toolkit-startup.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/af56c7136d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/app.css">
    <title>GoHAM News</title>
</head>
<body>
        <header>
                <div class="block block-inverse text-center mb-5">
                        <h1 class="block-title"><i class="far fa-newspaper text-danger"></i> GoHAM <span class="text-danger">NEWS</span></h1>
                        <hr>
                        <h3 class="text-danger">Your daily dose of <span class="text-white">News</span></h4>
                </div>
                <nav id="navbarMain" class="navbar fixed-top navbar-expand-md">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <i class="fas fa-bars text-white"></i>
                        </button>
                    <div id="navbarSupportedContent" class="collapse navbar-collapse">
                        <div class="container justify-content-center">
                            <div class="row">
                                <div class="col-md-2">
                                    <form action="/" method="GET">
                                        <button class="btn btn-lg text-white">General</button>
                                    </form>
                                </div>
                                <div class="col-md-2">
                                        <form action="/business" method="GET">
                                            <button class="btn btn-lg text-white">Business</button>
                                        </form>
                                </div>
                                <div class="col-md-2">
                                        <form action="/health" method="GET">
                                            <button class="btn btn-lg text-white">Health</button>
                                        </form>
                                </div>
                                <div class="col-md-2">
                                        <form action="/science" method="GET">
                                            <button class="btn btn-lg text-white">Science</button>
                                        </form>
                                </div>
                                <div class="col-md-2">
                                        <form action="/sports" method="GET">
                                            <button class="btn btn-lg text-white">Sports</button>
                                        </form>
                                </div>
                                <div class="col-md-2">
                                        <form action="/technology" method="GET">
                                            <button class="btn btn-lg text-white">Technology</button>
                                        </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </header>